<!--header begins-->
<%- include("../../views/partials/user/header") %>
    <!--header ends-->
    <div id="slider_body">
        <ul id="slider">
            <li>
                <div class="slid_content">
                    <h2 style="color: #6f566f">Engagement Rings</h2>
                    <p style="color: #6f566f">
                        The hardest part is over – you’ve found the love of your life. Now is
                        the time to find the perfect diamond engagement ring and plan a
                        beautiful proposal.
                    </p>
                    <a class="buy_now" href="/products">Buy now</a>
                </div>
                <!-- .slid_content -->
                <img src="/img/content/slid-1.png" alt="Slid 1" title="" />
            </li>

            <li>
                <div class="slid_content">
                    <h2 style="color: #744747">Precious Metals</h2>
                    <p style="color: #744747">
                        There’s no gift quite like diamond jewelry. Whether you’re looking for
                        a diamond ring, bracelet, earrings or necklace, we’ll give you tips.
                    </p>
                    <a class="buy_now" href="/products">Buy now</a>
                </div>
                <!-- .slid_content -->
                <img src="/img/content/slid-2.png" alt="Slid 2" title="" />
            </li>

            <li>
                <div class="slid_content">
                    <h2 style="color: #6d5956">Handmade jewelry</h2>
                    <p style="color: #6d5956">
                        Congratulations on your engagement. As you begin to plan the many
                        details of your wedding day, don’t forget the rings!
                    </p>
                    <a class="buy_now" href="/products">Buy now</a>
                </div>
                <!-- .slid_content -->
                <img src="/img/content/slid-3.png" alt="Slid 3" title="" />
            </li>
        </ul>
    </div>
    <!-- #slider_body -->

    <div id="home_banners">
        <div class="container_12">
            <div class="grid_6">
                <a href="/products" class="banner banner1"><strong>Free shipping</strong> Inside India!</a>
            </div>
            <!-- .grid_6 -->

            <div class="grid_6">
                <a href="products" class="banner banner2"><strong>Insane discounts</strong> on new collection!</a>
            </div>
            <!-- .grid_6 -->
            <div class="clear"></div>
        </div>
    </div>
    <!-- #home_banners -->

    <section id="main" class="home">
        <div class="container_12">
            <div id="content">
                <div class="grid_12">
                    <h2 class="product-title">Featured Products</h2>
                </div><!-- .grid_12 -->

                <div class="clear"></div>
                <div class="products featured-products">
                    <% if (featuredProducts && featuredProducts.length> 0) { %>
                        <% featuredProducts.forEach((product, index)=> { %>
                            <article class="grid_3 article" style="margin-bottom: 10px;">
                                <div class="prev">
                                    <a href="/product_page/<%= product._id %>">
                                        <!-- <img src="/uploads/products/<%= product.images[0] %>" alt="<%= product.name %>"
                                            title="<%= product.name %>" /> -->
                                            <img src="<%= product.images[0] %>" alt="<%= product.name %>" title="<%= product.name %>" />

                                    </a>
                                </div>
                                <h3 class="title">
                                    <%= product.name %><br />
                                </h3>
                                <div class="cart">
                                    <div class="price">
                                        <div class="vert">
                                            ₹<%= product.finalPrice %>
                                                <% if (product.maxDiscount> 0) { %>
                                                    <div class="price_old">₹<%= product.price %>
                                                    </div>
                                                    <% } %>
                                        </div>
                                    </div>
<!--                                     <a href="#" class="compare"></a>
                                    <a href="#" class="wishlist"></a>
                                    <a href="#" class="bay">
                                        <img src="img/bg_cart.png" alt="Buy" title="Buy" />
                                    </a> -->
                                </div>
                            </article>
                            
                            <% if ((index + 1) % 4===0 || index===featuredProducts.length - 1) { %>
                                <div class="clear-row"></div>
                                <% } %>
                                    <% }); %>
                                        <% } else { %>
                                            <p>No featured products available at the moment.</p>
                                            <% } %>
                </div>

                <div class="clear"></div>
            </div><!-- #content -->

            <div class="clear"></div>


            <div class="clear"></div>
            <br><br><br>
            <div id="content_bottom">
                <div class="grid_12">
                    <div class="bottom_block about_as">
                        <h3>About Us</h3>
                        <div class="about_as_content">
                            <p>At The Gem Studio, we believe that jewelry is more than just an accessory; it's a
                                timeless expression of individuality and emotion. Founded with a passion for exquisite
                                craftsmanship and quality, we offer a stunning collection of jewelry pieces that cater
                                to every occasion and style.</p>
                            <p>Our curated selection ranges from elegant engagement rings to intricately designed
                                necklaces and bracelets, each piece crafted with the utmost care and attention to
                                detail. We pride ourselves on sourcing ethically mined gemstones and precious metals,
                                ensuring that every purchase supports sustainable practices.</p>
                            <p>We are dedicated to providing our customers with an exceptional shopping experience,
                                combining luxury with affordability. Whether you're celebrating a milestone or simply
                                treating yourself, our team is here to help you find the perfect piece that resonates
                                with your unique story.</p>
                            <p>Join us in celebrating life’s precious moments with jewelry that lasts a lifetime.
                                Welcome to The Gem Studio, where elegance meets artistry.
                            <a href="/aboutus">Read More...</a>
                            </p>
                        </div>
                    </div><!-- .about_as -->
                </div><!-- .grid_6 -->


                <div class="clear"></div>
            </div><!-- #content_bottom -->
        </div><!-- .container_12 -->
    </section><!-- #main.home -->
    <!-- #main.home -->
    <!--footer begins-->
    <%- include("../../views/partials/user/footer")%>