<!--header begins-->
<%- include("../../views/partials/user/header") %>
    <!--header ends-->

    <div class="breadcrumbs">
        <div class="container_12">
            <div class="grid_12">
                <a href="/">Home</a><span></span><a href="#">Products</a><span></span><span class="current">
                    <%= product.name %>
                </span>
            </div><!-- .grid_12 -->
        </div><!-- .container_12 -->
    </div><!-- .breadcrumbs -->

    <section id="main">
        <div class="container_12">
            <div id="content" class="grid_12">
                <header>
                    <h1 class="page_title">
                        <%= product.name %>
                    </h1>
                </header>

                <article class="product_page negative-grid">
                    <div class="grid_5 img_slid" id="products">
                        <img class="sale" src="/img/sale.png" alt="Sale">
                        <div class="preview slides_container">
                            <div class="prev_bg">
                                <a href="/uploads/products/<%= product.images[0] %>" class="jqzoom" rel='gal1' title="">
                                    <img src="/uploads/products/<%= product.images[0] %>" alt="<%= product.name %>"
                                        title="" style="width: 100%">
                                </a>
                            </div>
                        </div><!-- .preview -->

                        <div class="next_prev">
                            <a id="img_prev" class="arows" href="#"><span>Prev</span></a>
                            <a id="img_next" class="arows" href="#"><span>Next</span></a>
                        </div><!-- .next_prev -->

                        <ul class="small_img clearfix" id="thumblist">
                            <% product.images.forEach((image, index)=> { %>
                                <li>
                                    <a class="zoomThumbActive" href='javascript:void(0);'
                                        rel="{gallery: 'gal1', smallimage: '/uploads/products/<%= image %>', largeimage: '/uploads/products/<%= image %>'}">
                                        <img src='/uploads/products/<%= image %>' alt="">
                                    </a>
                                </li>
                                <% }) %>
                        </ul><!-- .small_img -->
                        <div id="pagination"></div>
                    </div><!-- .grid_5 -->

                    <div class="grid_7">
                        <div class="entry_content">
                            <p>
                                <%= product.brand %>
                            </p>

                            <div class="ava_price">
                                <div class="price">
                                    <% if (product.discount> 0) { %>
                                        <div class="price_old">₹<%= product.price + product.discount %>
                                        </div>
                                        <% } %>
                                            ₹<%= product.price %>
                                </div><!-- .price -->

                                <div class="availability_sku">
                                    <div class="availability">
                                        Availability: <span>
                                            <%= product.status %>
                                        </span>
                                    </div>
                                    <div class="sku">
                                        SKU: <span>
                                            <%= product.sku || 'Not Available' %>
                                        </span>
                                    </div>
                                    <div class="parameter_selection">


                                        Material: <span>
                                            <%= product.material %>
                                        </span>

                                    </div>
                                    <div class="quantity_selection">
                                        Quantity:
                                        <select name="quantity" id="quantity">
                                            <% for (var i=1; i <=5; i++) { %>
                                                <option value="<%= i %>">
                                                    <%= i %>
                                                </option>
                                                <% } %>
                                        </select>
                                    </div>
                                    <!-- .parameter_selection -->
                                </div><!-- .availability_sku -->
                                <div class="clear"></div>
                            </div><!-- .ava_price -->



                            <div class="cart">
                                <a href="#" class="bay" data-id="<%= product._id %>" id="addToCartBtn"><img
                                        src="/img/bg_cart.png" alt="Buy" title="">Add to Cart</a>
                                <a href="/wishlist/add" class="wishlist" data-id="<%= product._id %>"><span></span>Add
                                    to Wishlist</a>
                                <a href="#" class="compare"><span></span>Add to Compare</a>
                            </div><!-- .cart -->

                        </div><!-- .entry_content -->
                    </div><!-- .grid_7 -->
                    <div class="clear"></div>

                    <!-- review and description tabs -->
                    <div class="grid_12">
                        <div id="wrapper_tab" class="tab1">
                            <a href="#" class="tab1 tab_link">Description</a>
                            <a href="#" class="tab2 tab_link">Reviews</a>


                            <div class="clear"></div>

                            <div class="tab1 tab_body">
                                <h4>About This Item</h4>
                                <p>
                                    <%= product.description %>
                                </p>


                                <div class="clear"></div>
                            </div><!-- .tab1 .tab_body -->

                            <div class="tab2 tab_body">
                                <h4>Customer reviews</h4>

                                <ul class="comments">
                                    <li>
                                        <div class="autor">Mike Example</div>, <time
                                            datetime="2012-11-03">03.11.2012</time>

                                        <div class="evaluation">
                                            <div class="quality">
                                                <span>Quality</span>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a href="#"></a>
                                                <a href="#"></a>
                                            </div>
                                            <div class="price">
                                                <span>Price</span>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus_minus" href="#"></a>
                                                <a href="#"></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div><!-- .evaluation -->

                                        <p>Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet.
                                            Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum
                                            adipiscing, eros quis lobortis dictum. It enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </li>

                                    <li>
                                        <div class="autor">Mike Example</div>, <time
                                            datetime="2012-11-03">01.11.2012</time>

                                        <div class="evaluation">
                                            <div class="quality">
                                                <span>Quality</span>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus_minus" href="#"></a>
                                            </div>
                                            <div class="price">
                                                <span>Price</span>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a class="plus" href="#"></a>
                                                <a href="#"></a>
                                            </div>
                                            <div class="clear"></div>
                                        </div><!-- .evaluation -->

                                        <p>Etiam mollis volutpat odio, id euismod justo gravida a. Aliquam erat
                                            volutpat. Phasellus faucibus venenatis lorem, vitae commodo elit pretium et.
                                            Duis rhoncus lobortis congue. Vestibulum et purus dui, vel porta lectus. Sed
                                            vulputate pulvinar adipiscing. It enim ad minim veniam, quis nostrud
                                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </li>
                                </ul><!-- .comments -->

                                <form class="add_comments">
                                    <h4>Write Your Own Review</h4>

                                    <div class="evaluation">
                                        <div class="quality">
                                            Quality<sup>*</sup>
                                            <input class="niceRadio" type="radio" name="quality" value="1"><span
                                                class="eva_num">1</span>
                                            <input class="niceRadio" type="radio" name="quality" value="2"><span
                                                class="eva_num">2</span>
                                            <input class="niceRadio" type="radio" name="quality" value="3"><span
                                                class="eva_num">3</span>
                                            <input class="niceRadio" type="radio" name="quality" value="4"><span
                                                class="eva_num">4</span>
                                            <input class="niceRadio" type="radio" name="quality" value="5"><span
                                                class="eva_num">5</span>
                                        </div>
                                        <div class="price">
                                            Price<sup>*</sup>
                                            <input class="niceRadio" type="radio" name="price" value="1"><span
                                                class="eva_num">1</span>
                                            <input class="niceRadio" type="radio" name="price" value="2"><span
                                                class="eva_num">2</span>
                                            <input class="niceRadio" type="radio" name="price" value="3"><span
                                                class="eva_num">3</span>
                                            <input class="niceRadio" type="radio" name="price" value="4"><span
                                                class="eva_num">4</span>
                                            <input class="niceRadio" type="radio" name="price" value="5"><span
                                                class="eva_num">5</span>
                                        </div>
                                        <div class="clear"></div>
                                    </div><!-- .evaluation -->

                                    <div class="nickname">
                                        <strong>Nickname</strong><sup>*</sup><br>
                                        <input type="text" name="" class="" value="">
                                    </div><!-- .nickname -->

                                    <div class="your_review">
                                        <strong>Summary of Your Review</strong><sup>*</sup><br>
                                        <input type="text" name="" class="" value="">
                                    </div><!-- .your_review -->

                                    <div class="text_review">
                                        <strong>Review</strong><sup>*</sup><br>
                                        <textarea name="text"></textarea><br>
                                        <i>Note: HTML is not translated!</i>
                                    </div><!-- .text_review -->

                                    <div class="clear"></div>



                                    <input type="submit" value="Submit Review">
                                </form><!-- .add_comments -->
                                <div class="clear"></div>
                            </div><!-- .tab2 .tab_body -->

                            <div class="tab3 tab_body">
                                <h4>Custom Tab</h4>
                                <div class="clear"></div>
                            </div><!-- .tab3 .tab_body -->
                            <div class="clear"></div>
                        </div>​<!-- #wrapper_tab -->
                        <div class="clear"></div>
                    </div><!-- .grid_12 -->
                    <div class="clear"></div>

                    <!-- //review and description tab -->





                </article><!-- .product_page -->
                <!-- related products -->
                <div class="related negative-grid">
                    <div class="c_header">
                        <div class="grid_10">
                            <h2>Related Products</h2>
                        </div><!-- .grid_10 -->

                        <div class="grid_2">
                            <a id="next_c1" class="next arows" href="#"><span>Next</span></a>
                            <a id="prev_c1" class="prev arows" href="#"><span>Prev</span></a>
                        </div><!-- .grid_2 -->
                    </div><!-- .c_header -->

                    <div class="related_list">
                        <% if (relatedProducts.length> 0) { %>
                            <ul id="listing" class="products">
                                <% relatedProducts.forEach((product)=> { %>
                                    <li>
                                        <article class="grid_3 article">
                                            <% if (product.discount> 0) { %>
                                                <img class="sale" src="/img/sale.png" alt="Sale">
                                                <% } %>
                                                    <div class="prev">
                                                        <a href="/product_page/<%= product._id %>"><img
                                                                src="/uploads/products/<%= product.images[0] %>"
                                                                alt="<%= product.name %>" title=""></a>
                                                    </div><!-- .prev -->

                                                    <h3 class="title">
                                                        <%= product.name %>
                                                    </h3>
                                                    <div class="cart">
                                                        <div class="price">
                                                            <% if (product.discount> 0) { %>
                                                                <div class="vert">
                                                                    ₹<%= product.price - (product.price *
                                                                        product.discount / 100) %>
                                                                        <div class="price_old">₹<%= product.price %>
                                                                        </div>
                                                                </div>
                                                                <% } else { %>
                                                                    <div class="vert">$<%= product.price %>
                                                                    </div>
                                                                    <% } %>
                                                        </div>
                                                        <!--                 <a href="#" class="compare"></a>
                <a href="#" class="wishlist"></a>
                <a href="#" class="bay"><img src="/img/bg_cart.png" alt="Buy" title=""></a> -->
                                                    </div><!-- .cart -->
                                        </article><!-- .grid_3.article -->
                                    </li>
                                    <% }); %>
                            </ul><!-- #listing -->
                            <% } else { %>
                                <p class="text-danger">No related products available at the moment.</p>
                                <% } %>
                    </div><!-- .brands_list -->

                </div><!-- .related --> <!-- .related products -->




            </div><!-- #content -->
        </div><!-- .container_12 -->
    </section><!-- #main -->
    <div class="clear"></div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        document.getElementById('addToCartBtn').addEventListener('click', function (e) {
            e.preventDefault();
            const productId = this.getAttribute('data-id');
            const quantity = document.getElementById('quantity').value; // Get selected quantity

            fetch('/cart/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId: productId, quantity: quantity })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        swal({
                            title: "Success!",
                            text: "Product added to cart successfully!",
                            icon: "success",
                            button: "OK",
                        });
                    } else {
                        swal({
                            title: "Error!",
                            text: data.error || "Failed to add product to cart",
                            icon: "error",
                            button: "OK",
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    swal({
                        title: "Error!",
                        text: "An unexpected error occurred",
                        icon: "error",
                        button: "OK",
                    });
                });
        });

        //add to wishlist script
        document.querySelector('.wishlist').addEventListener('click', function (e) {
            e.preventDefault(); // Prevent default form submission

            const productId = this.getAttribute('data-id'); // Replace with actual product ID

            // Send an AJAX request to add the product to the wishlist
            fetch('/wishlist/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId }),
            })
                .then(response => response.json())
                .then(data => {
                    // Show SweetAlert based on the response
                    if (data.message === 'Added to wishlist') {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Product added to wishlist!',
                        });
                    } else if (data.message === 'Out of stock') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Out of Stock',
                            text: 'This product is currently out of stock!',
                        });
                    } else if (data.message === 'Blocked by admin') {
                        Swal.fire({
                            icon: 'error',
                            title: 'Blocked',
                            text: 'You are blocked by the admin and cannot add products to the wishlist.',
                        });
                    } else if (data.message === 'Already in wishlist') {
                        Swal.fire({
                            icon: 'info',
                            title: 'Already Added',
                            text: 'This product is already in your wishlist!',
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while adding the product to the wishlist.',
                    });
                });
        });
    </script>
    <%- include("../../views/partials/user/footer") %>